Morning routine - Milan Štěrba.json
{
  "name": "Morning routine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "3af096f5-ada3-4bf9-82ee-58c3ed965657",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "sokolov, cz",
        "language": "cz"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "c0aea9ef-5d0a-4d1d-9c03-bb584e3455c8",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "Ze2rcTVPhgeM1o4d",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a3ab4378-8441-4745-83ab-bfc45146e6e0",
              "leftValue": "={{$json[\"main\"][\"temp\"]}}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "d5948f12-04eb-4776-9984-316be7c6c614",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Napiš ranní briefing na základě těchto dat o počasí:\n\n{{ JSON.stringify($json) }}\n\nPočasí je spíše teplé (nad 5 °C).\n\nNapiš:\n1) Krátké shrnutí počasí (1–2 věty).\n2) Doporučení na oblečení.\n3) Doporučení na venkovní trénink (běh, rozcvička, florbal příprava).\n4) Do zprávy shrň minimální a maximální teplotu.\nBuď přátelský, ale věcný. Max 150 slov. Čeština.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        944,
        -128
      ],
      "id": "51224307-ae6f-4aef-9d36-ff074eb493a4",
      "name": "Warm agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Napiš ranní briefing na základě těchto dat o počasí:\n\n{{ JSON.stringify($json) }}\n\nPočasí je studené (méně než 5 °C).\n\nNapiš:\n1) Krátké shrnutí počasí (1–2 věty).\n2) Doporučení na oblečení (více vrstev, bunda, mikina, čepice).\n3) Doporučení na trénink – indoor varianta, nebo kratší venkovní trénink s velkým důrazem na rozehřátí.\n4) Napiš do zprávy minimální teplotu a maximální teplotu.\nBuď přátelský, ale věcný. Max 150 slov. Čeština.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        944,
        144
      ],
      "id": "0f9f1b1c-ef85-4bdd-9701-bdeac60a9359",
      "name": "Cold agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        16
      ],
      "id": "56b4c1c3-5dc3-466d-925a-008acbeb24f1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0X8jjalZcqbT2TmO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        304
      ],
      "id": "35b18e0c-1d48-45eb-8599-aba2a0215e9a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "0X8jjalZcqbT2TmO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "msterba90@gmail.com",
        "subject": "=Ranní briefing – {{ $now.format(\"DD\") }}",
        "emailType": "text",
        "message": "={{ $json.text || $json.data || $json.output || $json.result }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1824,
        160
      ],
      "id": "c18f1c6a-53ae-4d2c-8479-52783c21eadb",
      "name": "Send a message",
      "webhookId": "d9f216de-86c9-4c72-b8b2-a43a6c8e1bb4",
      "credentials": {
        "gmailOAuth2": {
          "id": "rRbeTdrAasscmun3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        480
      ],
      "id": "d60b701a-1ef7-480b-852b-ef528427127c",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        640
      ],
      "id": "8f4f8cfe-4f02-4a60-a5b6-f3ed8e4ced03",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "0X8jjalZcqbT2TmO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jsi můj osobní asistent a reaguješ na chyby ve workflow n8n.\n\nDostaneš JSON obsahující detaily o chybě, která se stala v některém uzlu.  \nTvoje úloha:\n\n1) Stručně vysvětli, co se pokazilo (jednou větou).\n2) Přidej lidské shrnutí toho, kde to spadlo a proč (max 3–4 věty).\n3) Navrhni, co mám nejspíš udělat pro opravu (konkrétně, ale krátce).\n\nPiš česky, neformálně, ale věcně.  \nNepřidávej žádná technická data navíc – pracuj jen s tím, co je v JSONu.\n\nTady máš data o chybě:\n{{ JSON.stringify($json) }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        576,
        480
      ],
      "id": "6e888823-5955-4037-abb4-f762e8103ff1",
      "name": "Error agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg",
          "mode": "list",
          "cachedResultName": "Outputs for n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Warm weather",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        352
      ],
      "id": "678f8aaf-a5a3-4dc9-ac7e-468175d55aea",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HG6vrN0Gpkm8h0uY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg",
          "mode": "list",
          "cachedResultName": "Outputs for n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1186223690,
          "mode": "list",
          "cachedResultName": "Cold weather",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg/edit#gid=1186223690"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        496
      ],
      "id": "e4b52a20-f491-4acf-981a-d9dbd187e2c3",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HG6vrN0Gpkm8h0uY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg",
          "mode": "list",
          "cachedResultName": "Outputs for n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 794182619,
          "mode": "list",
          "cachedResultName": "Error output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ecSQJFXh9nuxoU0Tgio68ltAV_ZgLGEWAdYQmO3iymg/edit#gid=794182619"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        640
      ],
      "id": "6294d55a-e0c8-44e2-9432-0bc06a51f296",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HG6vrN0Gpkm8h0uY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e934db0f-a3f0-48b8-96b9-f19c1ce4bbdb",
              "name": "type",
              "value": "Warm",
              "type": "string"
            },
            {
              "id": "57979e28-42c6-409f-a3c1-5f91b42edf15",
              "name": "datetime",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "272a6eec-23ea-46f2-a3be-575868f4dd16",
              "name": "temperature",
              "value": "={{ $('Temperature').item.json.temp }}",
              "type": "number"
            },
            {
              "id": "637e5293-8cc9-4089-a163-9e1c15ee8c50",
              "name": "message",
              "value": "={{$json.output}}",
              "type": "string"
            },
            {
              "id": "fc359e20-3735-4da1-b53d-eac1d658d73b",
              "name": "city",
              "value": "Sokolov",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        352
      ],
      "id": "adbbed63-f085-4a5d-ac2a-19b33e5e7f5b",
      "name": "Warm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42774cb0-48e8-4504-99a3-655eb78a9892",
              "name": "type",
              "value": "Cold",
              "type": "string"
            },
            {
              "id": "a3b58905-fb68-49b6-94d5-e0ce54d4bed9",
              "name": "datetime",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "555571da-e771-4164-86f5-e0f3a575c833",
              "name": "temperature",
              "value": "={{ $('Temperature').item.json.temp }}",
              "type": "number"
            },
            {
              "id": "06b620f0-c856-440f-a5a4-9fe543934e6b",
              "name": "message",
              "value": "={{$json.output}}",
              "type": "string"
            },
            {
              "id": "ea660ff4-f3fa-49fe-9fa2-279d58b4398e",
              "name": "city",
              "value": "Sokolov",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        496
      ],
      "id": "c050e2f7-5771-4593-838c-6c49f4263d63",
      "name": "Cold"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ae2be5e-e8bf-4c31-ab95-ef4998472c6f",
              "name": "type",
              "value": "Error",
              "type": "string"
            },
            {
              "id": "3f0cd007-da98-4dc1-9d2a-be21c6825433",
              "name": "temperature",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "f8e18487-3428-4995-866a-3a0968d9e9fb",
              "name": "message",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        640
      ],
      "id": "030f9313-5757-45fc-ab3b-e897f16982ab",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a6a33b8-65e1-4149-8c80-54040c16d259",
              "name": "temp",
              "value": "={{ $json.main.temp }}",
              "type": "number"
            },
            {
              "id": "8cde93bd-f558-486e-a882-7f3790cf23ea",
              "name": "temp_min",
              "value": "={{ $json.main.temp_min }}",
              "type": "number"
            },
            {
              "id": "ecd3b5bd-4d16-4901-b9e8-2f1e5442151a",
              "name": "temp_max",
              "value": "={{ $json.main.temp_max }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "8f8086e9-2f6d-4f3d-a4ca-5f54a2f1f8a5",
      "name": "Temperature"
    },
    {
      "parameters": {
        "content": "## Schedule trigger\nHere you can change your schedule, when will the workflow execute. Default here is 6 am.",
        "height": 416,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -256
      ],
      "id": "a9278128-1154-4ec4-b50b-149eb054aeb7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## WeatherApp \nThis is simply information gainer. On their pages you need to register and you will get a free API key. But you need to wait a while to activate it.",
        "height": 416,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -256
      ],
      "id": "50622195-4230-4856-bc84-7f7888888eb4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Set node\nWe use this for simplify some output data and to work with them better in the further workflow. We simplified temperature, minimum temperature and maximum temperature.",
        "height": 416,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -256
      ],
      "id": "156768da-a7fb-477d-89ba-9204cd00aec6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IF node\nSimply to use IF state, if something happens, this happens. Here i used it for temperature. Again you can change it, default here is 5. The node is set to: greaterr then, so remember to put the truth state in the right way.\n",
        "height": 416,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -256
      ],
      "id": "f7f52e80-a5d8-4771-8b56-a23230d27d95",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## AI Agent\nWarm and cold agents are the same, but both are for different temperatures. Warm agent sends a message, when temperature is higher than 5 °C. You can translate the prompt to english, i used my language, so Czech.\n",
        "height": 320,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        -320
      ],
      "id": "1ab06351-a805-448b-a71e-08c0352313cd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Error trigger\nThis will trigger, if any error, anywhere in this workflow, occurs.",
        "height": 384,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        256
      ],
      "id": "13d2f189-24bc-4737-8fbf-b65a8daf4ea9",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Error agent\nThis agent simplifies the error output and sends the warning email, just when the error occurs.",
        "height": 352,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        256
      ],
      "id": "30bb1ec6-03d8-4c4f-bcb2-ef2bd4bdf68f",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Temperature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warm agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Warm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Warm agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cold agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Warm agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Cold agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cold agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Error agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Error agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warm": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cold": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Temperature": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87021c2b-b100-4af7-9a8d-564c51cbeef9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "777093a46acdeefcbe21cc859d79502b1a78483b5a5b0d2755648a3b9126b7bf"
  },
  "id": "uDXmvwhq2M7iOemi",
  "tags": []
}